header{
    background-color: #FFFEDF;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.headerButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

body {
    background-color: antiquewhite;
}

.detailsButton {
}

footer {
    background-color: white;
}