.main {
    margin: 0;
    background-image: linear-gradient(#fff1c4, #ffd34e, #db9e36);
}

.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:70px;
    padding-bottom: 140px;
}
.splashButtons {
    display: flex;
    font-family: 'Geist';
    gap: 20px;
    margin-top: 60px;
}

.find, .rate, .spinButton {
    padding: 10px 40px;
    background-color: #16707a;
    border-radius: 10px;
}
.find {
    background-color: #bd4932;
}
.spinButton {
    padding: 10px 30px;
}

.cardSection {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.spinCards {
    display: flex;
    justify-content: center;
    gap: 6em;
    padding: 40px;
}
.card {
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}
.spinButton {
    margin: auto;
    font-family: 'Geist';
    
}

.title {
    font-size: 4em;
    font-weight: 500;
    color: #105B63;
    background: -webkit-linear-gradient(#105B63, #0b4b52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #062c26);
}

.subheading {
    color: #105B63;
    font-family: 'Geist';
    font-style: italic;
    font-weight: 325;
    font-size: 1.7em;
}


.bee {
    position: absolute;
    margin-right: 0;
    margin-left: 80%;
    margin-top: 15%;
}