.signUp {
    height: 92vh;
    background: rgb(255,237,177);
    background: linear-gradient(180deg, rgba(255,237,177,1) 25%, rgba(255,211,78,1) 63%, rgba(212,143,4,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}



.topHex {
    display: flex;
    justify-content: center;
}





.middleHex {
    display: flex;
    justify-content: center;
}

.bottomHex {
    display: flex;
    justify-content: center;
}