/* general ui layout */
.profile-container {
    background: linear-gradient(to bottom right, #ffe68a, #f9b529);
    min-height: 92vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Segoe UI', sans-serif;
  }
  
  /* profile header and image*/
  .profile-header .avatar {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    z-index: 5;
  }
  
  /* username */
  .name {
    color: #007a73;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    z-index: 5;
  }
  
  /* Entire profile box */
  .profile-card {
    background: #fff3cd;
    border-radius: 25px;
    padding: 2rem;
    margin: 2rem auto;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 5;
  }
  
  /* Each profile info */
  .info-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    color:  	#41211a;
    font-size: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);
  }
  
  .label {
    font-weight: bold;
  }
  
  /* Decorative bees*/
  .bee {
    position: absolute;
    margin-right: 0;
    margin-left: 76.5%;
    margin-top: 30%;
    z-index: 1;
}
  
  .Lbee {
    position: absolute;
    margin-right: 79%;
    margin-left: 0;
    margin-top: 10%;
    z-index: 1;
}

  /* logout button */
  .logout-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background 0.2s;
  }
  
  .logout-button:hover {
    background-color: #c9302c;
  }
  