section {
    height: 92vh;
    background: rgb(255,237,177);
    background: linear-gradient(180deg, rgba(255,237,177,1) 25%, rgba(255,211,78,1) 63%, rgba(212,143,4,1) 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
}


/* FFEDB1 25 */

/* FFD34E 63 */

/* D48F04 100 */